/* Product layout container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
  }
  
  /* Sidebar container styles */
.sidebar {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
    
  }
  
  /* Card styles */
  
  
  /* Card title styles */
  .cards{
    display: inline;
    height: 100%;
    max-width: 1104px;
    width: 100%;
    
  }
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* Card details styles */
  .card p {
    margin: 5px 0;
  }
  /* Sidebar container styles */
.sidebar {
  width: 21%;
  background-color: white;
  padding: 0px;
    
  }
  
 
  /* Card title styles */
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* List styles */
  .card ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* List item styles */
  .card li {
    margin: 5px 0;
    cursor: pointer;
  }
  
  /* Selected list item styles */
  .card li.selected {
    font-weight: bold;
  }
  
  /* Card styles */
  /* .card {
    
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   */
  /* Product image styles */
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  /* Product details styles */
  .product-details {
    padding: 20px;
  }
  
  /* Product info styles */
  .product-info {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Link styles */
  .product-info a {
    color: #fff;
    text-decoration: none;
  }
  